################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/InterviewTest/v16/TestStore/0/003.testlog
/.vs/VSWorkspaceState.json
